mixin pattern(pattern)
  div.row
    div.col-md-6.mt-5
      div.card
        h2.card-header
          = pattern.name
        div#latest.card-body
          each photo, index in pattern.photos
            if index == 0
              img.img-fluid(src=photo.shelved_url)
            else
              img.img-thumbnail(src=photo.square_url)
          br
          != pattern.notes_html
    div.col-md-6.mt-5
      div.card
        div#latest.card-body
          div
            p
              strong= pattern.sizes_available
            ul
              each yarn in pattern.packs
                li= yarn.yarn_name
            ul
              each needle in pattern.pattern_needle_sizes
                li= needle.name
            each tag in pattern.pattern_attributes
              span.badge.rounded-pill.bg-secondary
                = tag.permalink
            br
            | &#11088;
            =pattern.pattern_author.favorites_count
              
  div.row
    div.col-md-6.mt-5
      div.card
        h2.card-header
            = "Links"
        div#links.card-body
          div
            a(href=pattern.download_location.url)
              ="Buy here"
            ul Also seen at:
              each source in pattern.printings
                li
                  a(href=source.pattern_source.url)
                    =source.pattern_source.name
          
