mixin pattern(pattern)
  div.row
    div.col-md-6.mt-5
      div.card
        h2.card-header
          = pattern.name
        div#latest.card-body
          each photo, index in pattern.photos
            if index == 0
              img.img-fluid(src=photo.shelved_url)
            else
              img.img-thumbnail(src=photo.square_url)
          != pattern.notes_html
    div.col-md-6.mt-5
      div.card
        div#latest.card-body
          div
            p
              strong= pattern.sizes_available
            ul
              each yarn in pattern.packs
                li= yarn.yarn_name
            ul
              each needle in pattern.pattern_needle_sizes
                li= needle.name
          
